Source: libpam-what-access
Section: unknown
Priority: extra
Maintainer: yannick <yannick.lebriquer@anakeen.com>
Build-Depends: debhelper (>= 5), autotools-dev, libpam-dev, postgresql-dev
Standards-Version: 3.7.2

Package: libpam-what-access
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Pam module that uses FreeDom What auth/acl base
 This module allow any pam cmpliant application to authenticate against FreeDom What user base with ACL
