/* ---------------------------------------------------------------------------
 * $Id: BRUSHED.css,v 1.3 2007/02/08 08:48:48 eric Exp $
 * ---------------------------------------------------------------------------
 
 * ---------------------------------------------------------------------------
 */



body, .core  {
  background-color: transparent!important;
  background-image: [CORE_BGIMAGE]!important;
  color: [CORE_TEXTFGCOLOR];
}

html, div.tablesimple, table.tablesimple, div.normal, div.tablesimple table.noprint {
  background-image: [CORE_BGIMAGE];
}
div.mainview {
  background-image: none;
  background-color: [COLOR_WHITE];
}
tr.FREEDOMBack1 {
  background-color: transparent;  
  background-image: none;
}
TABLE.headbarmenu TD {  
  background-color: transparent!important;
  background-image: none;
}
TABLE.headbarmenu TR.headcell, TABLE.wdservices TR {
  background-color: transparent;
}

TR {
  background-color: transparent;  
  background-image: none;
}

DIV {
  -moz-border-radius:7px;
}