/* ---------------------------------------------------------------------------
 * $Id: BRUSHED.css,v 1.2 2006/11/21 18:01:05 eric Exp $
 * ---------------------------------------------------------------------------
 
 * ---------------------------------------------------------------------------
 */



body, .core {
  background-color: transparent!important;
  background-image: [CORE_BGIMAGE]!important;
  color: [CORE_TEXTFGCOLOR];
}
TABLE.headbarmenu TD {  
  background-color: transparent!important;
  background-image: none;
}
TABLE.headbarmenu TR.headcell, TABLE.wdservices TR {
  background-color: transparent;
}
