Source: freedom-url
Section: web
Priority: extra
Maintainer: yannick <yannick.lebriquer@anakeen.com>
Build-Depends: debhelper (>= 5), autoconf
Standards-Version: 3.7.2

Package: freedom-url
Architecture: all
Depends: freedom-lib, freedom-what, gettext
Description: The simply add a URL like integrated application
