Source: freedom-nu
Section: web
Priority: extra
Maintainer: yannick <yannick.lebriquer@anakeen.com>
Build-Depends: debhelper (>= 5), autoconf
Standards-Version: 3.7.2

Package: freedom-nu
Architecture: all
Depends: freedom-lib, libpam-ldap
Description:  The Freedom NetWorkUser
 Can use an external LDAP for authentication (openldap or AD for instance)

