Source: freedom-workspace
Section: web
Priority: extra
Maintainer: yannick <yannick.lebriquer@anakeen.com>
Build-Depends: debhelper (>= 5), autoconf
Standards-Version: 3.7.2

Package: freedom-workspace
Architecture: all
Depends: freedom-fckeditor, freedom-lib (>= 2.9.5)
Description: Family Book and Chapter 
 Use It to write document with chapters. This book can produce HTML or PDF (if freedom-te installed) composition.
