Source: freedom-theme
Section: web
Priority: extra
Maintainer: yannick <yannick.lebriquer@anakeen.com>
Build-Depends: debhelper (>= 5), autoconf
Standards-Version: 3.7.2

Package: freedom-theme
Architecture: all
Depends: freedom-lib
Description: Common theme for FreeDom
