.AutoCompleteDivListeStyle {
  font-size: 13px; font-family: arial,sans-serif; 
  white-space:nowrap;
  cursor:default;
  border: inset 1px [COLOR_BLACK];
  background-color: [COLOR_WHITE];
  padding:0px;
  z-index:1;
}

.AutoCompleteDiv {
  display: block; 
  padding-left: 3px; 
  padding-right: 3px; 
  overflow: hidden; 
}

.AutoCompleteDivAct {
  background-color: [COLOR_C7]; 
  padding-left: 3px; 
  padding-right: 3px; 
  color: [COLOR_BLACK] ! important; 
}

.AutoMessage {
  background-color: [COLOR_WHITE]; 
  color: [COLOR_A5]; 
  
}