.forum {
  margin : 3px 0px 0px 0px  ; 
  padding : 1px 1px 1px 3px;
  border : 1px solid [COLOR_A3];
  background-color: [COLOR_WHITE];
  -moz-border-radius:4px;  
}
#f_X {
  margin-top : 5px;
  padding : 3px;
  border : 1px solid [COLOR_A3];
  background-color: [COLOR_WHITE];
  -moz-border-radius:4px;  
}
.forum_head {
  margin : 5px 0px 5px 5px; 
}
.forum #resume {
  cursor : pointer;
/*
  border-width : 1px ;
  border-style : none none solid none ;
  border-color : [COLOR_B8];
  background-color: [COLOR_A9];
*/
}
.forum #resume.first {
  margin : 5px 0px 0px 0px;
  padding : 3px 0px 3px 0px;
  border-width : 1px ;
  border-style : solid;
  border-color : [COLOR_B5];
  background-color: [COLOR_A9];
}
.forum .content {
  padding : 0px;
  border-width : 0px ;
  border-style : none;
  border-color : [COLOR_A6];
}
.forum .content_first {
  margin-left : 3px;
  padding : 0px;
  border-width : 0px ;
  border-style : solid;
  border-color : [COLOR_A6];
}
.forum .text {
  padding : 5px;
}
.forum img {
  padding : 0px 2px 0px 2px;
}
.forum #who, .forum #date {
  font-size : 80%;
  color: [COLOR_A1];
}
.forum #response  {
  font-size : 80%;
  margin-left : 5px;
  color: [COLOR_A1];
}
.forum #action {
  cursor : pointer;
  margin : 0px;
  padding : 0px 2px 0px 2px;
  font-size : 80%;
  color : [COLOR_B5];
}
