/* ---------------------------------------------------------------------------
 * $Id: freedom.css,v 1.40 2004/02/24 08:38:48 eric Exp $
 * ---------------------------------------------------------------------------
 */
.FREEDOMTblTitle{
	background-color: [CORE_BGCOLORALTERN];	
}

.FREEDOMTextBigTitle{

  color: [FREEDOM_TITLEFGCOLOR];
  font-weight: bold;
  font-size: 120%;
  text-align: center;
  font-variant: small-caps;
}

.FREEDOMTextTitle{
  font-weight: bold;
  color: [CORE_TEXTFGCOLOR];
  text-transform:capitalize;
}

.FREEDOMTextTitle:first-letter {
  text-transform:capitalize;
}

TR.FREEDOMBack1 {
	background-color: [CORE_BGCELLCOLOR];
	color : [CORE_TEXTFGCOLOR];	
}

TR.FREEDOMBack2:first-letter {
  text-transform:capitalize;
}

TR.FREEDOMBack2{
	background-color: [CORE_BGCOLORALTERN];
	color : [CORE_TEXTFGCOLOR];
}

.FREEDOMText{
  color: [CORE_TEXTFGCOLOR];
}
.FREEDOMLabel{
  color: [CORE_TEXTFGCOLOR];
  text-align:right;
}
.FREEDOMLabelNeeded{
  color: [CORE_TEXTFGCOLOR];
  text-align:right;
  font-weight: bold;
}
TD.FREEDOMLabel:first-letter {
  text-transform:capitalize;
}
TD.FREEDOMLabelNeeded:first-letter {
  text-transform:capitalize;
}

LEGEND:first-letter {
  text-transform:uppercase;
}
LEGEND {
  color: [CORE_ACOLOR];
  text-transform:capitalize;
}

FIELDSET {
   -moz-border-radius: 6;
   background-color: [CORE_BGCELLCOLOR];
}

.MenuInactive{
	background-color: [CORE_BGCOLORALTERN];
	color : [CORE_TEXTBGCOLOR];
	border-width : 2px;
	border-style : solid;
	border-color : [CORE_BGCOLORALTERN];
}
.MenuActive{
	background-color: [CORE_BGCOLORALTERN];
	color : [CORE_TEXTBGCOLOR];
	border-width : 2px;
	border-style : outset;
	border-color : [CORE_BGCOLORALTERN];
}

.iconimg {
  border-style: hidden;
  border-width: 1;
  border-color: [CORE_FGCOLOR];
  width:30;
  height:30;
}
.iconimg20 {
  border-style: hidden;
  border-width: 1;
  border-color: [CORE_FGCOLOR];
  width:20;
  height:20;
  
}
.iconline {
  border-color: [CORE_FGCOLOR];
  margin:1px;
  padding:0px;
  border-width:3px;
  border-style: hidden;
  /*background-color: palegoldenrod;*/
  
}
 
IMG.iconone {
  border-style: none;
  border-width: 0px;
  float:left;
  cursor:pointer;
  width:54;
  height:54;
}
IMG.icononesel {
  border-style: outset;
  border-width: 2px;
  border-color: [CORE_FGCOLOR];
  background-color:[CORE_BGCOLORALTERN];
  float:left;
  cursor:pointer;
  width:50;
  height:50;
}
IMG.icononehi {
  border-style: inset;
  border-width: 2px;
  border-color: [CORE_FGCOLOR];
  background-color:[CORE_BGCOLORHIGH];
  float:left;
  cursor:pointer;
  width:50;
  height:50;
}

TD.und {
 border-bottom:1px dashed;
 border-left:1px dashed;
}

TD.tlist {
   border-width : 1px;
   border-style : dashed none none none;
   border-color : [CORE_BGCOLOR];
}

DIV.unselect {
   border-style : inset;
  background-color:[CORE_BGCELLCOLOR];
  color:[CORE_TEXTFGCOLOR];
   border-color : [CORE_BGCOLOR];
   border-width : 1px;
  margin: 2px 0px 0px 0px;

}

TR.unselecth, DIV.unselecth {
   border-style : inset;
  background-color:[CORE_BGCOLORHIGH];
  color:[CORE_TEXTFGCOLOR];
   border-color : [CORE_BGCOLOR];
   border-width : 1px;
  margin: 2px 0px 0px 0px;

}

DIV.select {
  background-color:[CORE_BGCOLORALTERN];
  color:[CORE_TEXTFGCOLOR];
  border-style : outset;
   border-width : 1px;
  margin: 2px 0px 0px 0px;
} 

HR {
  color:[CORE_BGCOLOR];
}

A.title {
  font-weight:bold;
  color:[CORE_TEXTFGCOLOR];  
  cursor:pointer;
}


A.title:hover {
  background-color:[CORE_BGCELLCOLOR];
   
}
TABLE.rows TBODY TR TD {  
  border-width:1px 0px 0px 0px;	 
  border-color:[CORE_BGCOLORALTERN];
  border-style:solid;
}

TABLE.tarray  TR TD {  
  border-width:0px 0px 1px 0px;	 
  border-color:[CORE_BGCOLORALTERN]; 
  border-style:solid;
}
TABLE.tarray  TR TH {  
  border-width:0px 0px 1px 0px;	 
  background-color:[CORE_BGCOLORALTERN];
  border-color:[CORE_BGCOLOR];
  border-style:solid;
  -moz-border-radius:10px;
}

TABLE.transparent TBODY TR TD {  
  border-width:1px 0px 0px 0px;	 
  border-color:[CORE_BGCOLORALTERN];
  border-style:solid;
  background-color:transparent;
}

.onglet {
   font-size: 50%;
  background-image:url('[IMG:tab.png]');
  color:[CORE_TEXTFGCOLOR];
  cursor: pointer;
  border-style: none;
  align: center;
}

.ongleth {
   font-size: 50%;
  background-image:url('[IMG:tabh.png]');
  color:[CORE_TEXTFGCOLOR];
  cursor: pointer;
  border-style: none;
}

.onglets {
   font-size: 50%;
  cursor: pointer;
  background-image:url('[IMG:tabh.png]');
  color:[CORE_TEXTBGCOLOR];
  border-style: none;
}

.ongletv {
   font-size: 90%;
  background-image:url('[IMG:tabv.png]');
  color:[CORE_TEXTFGCOLOR];
  cursor: pointer;
  border-style: none;
  align: center;
}
.ongletvg {
  font-size: 90%;
  background-image:url('[IMG:tabvg.png]');
  background-color:[CORE_BGCOLORALTERN];;
  color:[CORE_TEXTFGCOLOR];
  cursor: pointer;
  border-style: none;
  align: center;
}
.ongletvgie {
  font-size: 90%;
  background-color:[CORE_BGCOLORALTERN];;
  color:[CORE_TEXTFGCOLOR];  
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[IMG:tabvg.png]',sizingMethod='scale');
  cursor: pointer;
  border-style: none;
  align: center;
}
.ongletvs {
  font-size: 90%;
  cursor: pointer;
  background-color:[CORE_BGCOLORALTERN];;
  background-image:url('[IMG:tabvig.png]');
  color:[CORE_TEXTBGCOLOR];
  font-weight: bold;
  border-style: none;
}
.ongletvsie {
  font-size: 90%;
  cursor: pointer;
  background-color:[CORE_BGCOLORALTERN];;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[IMG:tabvig.png]',sizingMethod='scale');
  color:[CORE_TEXTBGCOLOR];
  font-weight: bold;
  border-style: none;
}
UL {
  margin-top:0px;
}

LI.translucide {
  list-style:url('USERCARD/Images/bblue10.gif');
}

IMG.unselect {
  border-style: hidden;
  border-width: 3;
  border-style : none
  width:40;
  height:40;  
  cursor: crosshair;
}
IMG.select {
  border-style: hidden;
  border-width: 1px;
  border-color: [CORE_FGCOLOR];
  width:40;
  height:40;  
  background-color:[CORE_BGCOLORALTERN];
  border-style : solid;
  cursor: crosshair;
  -moz-border-radius:25px;
}

TR.unselect {
  cursor: crosshair;
}


TR.select {
  background-color:[CORE_BGCOLORALTERN];
  border-style : solid;
  cursor: crosshair;
} 


DIV.icon{
  font-weight: normal;
  font-size: 70%;
  text-align: center;
  /*font-variant: small-caps;*/
  width:70;
  height:100;
  float:left;
  border-style:none;
  border-color:[CORE_FGCOLOR];
  overflow : hidden;
}

IMG.aicon {
	margin:0pt;
	padding:0pt;
	-moz-border-radius:0px 0px 0px 25px;
}

.onlyprint {
    display:none;
}

INPUT.fullresize, TEXTAREA.fullresize {
	width:100%;
}
input[type="file"] { 
	width:auto;
   }

@media print {
  .noprint {
    display:none;
  }
  #error  {
    display:none ! important;
  }
  *, A, A:link, A:visited, p {
    color:black;
    font-family:arial, helvetica;
  }
  .tableborder {
    border:none;
  }
  TD, TH {
    font-family:arial, helvetica;
  }
  .onlyprint { 
    display:block;
    }
}
/*--------------------------*/
/* report CSS */
TABLE.reportHBlue {
	empty-cells: show;
	color : black;	
        -moz-border-radius:25px
}
.reportHBlue TR.trodd{
	background-color: #99CCFF;	
	border-color : cornflowerblue;
}
.reportHBlue TR.treven{
	background-color: lavender;
}

.reportHBlue TH{
	color : black;
	background-color: cornflowerblue;
}
.reportHBlue TD.tdodd{
	color : black;
	empty-cells: show;
	border-width : 1px;
	border-style : none solid  none none;
	border-color : cornflowerblue;

}
.reportHBlue TD.tdeven{
	color : black;
	empty-cells: show;
	border-color : cornflowerblue;
	border-style : none solid  none none;
	border-width : 1px;
}

/*--------------------------*/
/* report Col GREEN */
TABLE.reportVGreen {
	empty-cells: show;
	color : black;	
        -moz-border-radius:25px;
}
.reportVGreen TR.trodd{	
	border-style : inset none none none;
	border-color : #60d050;
	border-width : 1px;
}
.reportVGreen TR.treven{
	border-style : outset none none none;
	border-width : 1px;
}
.reportVGreen TH{
	color : black;
	background-color: #60d050;
}
.reportVGreen TD.tdodd{
	color : black;
	empty-cells: show;
	border-color : #60d050;
	background-color: #40e0b0;

}
.reportVGreen TD.tdeven{
	color : black;
	empty-cells: show;
	border-color : #60d050;
	background-color: #80f0e0;
}
