/* ---------------------------------------------------------------------------
 * $Id: freedom.css,v 1.25 2003/02/25 09:55:24 eric Exp $
 * ---------------------------------------------------------------------------
 */
.FREEDOMTblTitle{
	background-color: [CORE_BGCOLORALTERN];	
}

.FREEDOMTextBigTitle{

  color: [FREEDOM_TITLEFGCOLOR];
  font-weight: bold;
  font-size: 120%;
  text-align: center;
  font-variant: small-caps;
}

.FREEDOMTextTitle{
  font-weight: bold;
  color: [CORE_TEXTFGCOLOR];
  text-transform:capitalize;
}

.FREEDOMTextTitle:first-letter {
  text-transform:capitalize;
}

TR.FREEDOMBack1 {
	background-color: [CORE_BGCELLCOLOR];
	color : [CORE_TEXTFGCOLOR];	
}

TR.FREEDOMBack2:first-letter {
  text-transform:capitalize;
}

TR.FREEDOMBack2{
	background-color: [CORE_BGCOLORALTERN];
	color : [CORE_TEXTFGCOLOR];
}

.FREEDOMText{
  color: [CORE_TEXTFGCOLOR];
}
.FREEDOMLabel{
  color: [CORE_TEXTFGCOLOR];
  text-align:right;
}
.FREEDOMLabelNeeded{
  color: [CORE_TEXTFGCOLOR];
  text-align:right;
  font-weight: bold;
}
TD.FREEDOMLabel:first-letter {
  text-transform:capitalize;
}
TD.FREEDOMLabelNeeded:first-letter {
  text-transform:capitalize;
}

LEGEND:first-letter {
  text-transform:uppercase;
}
LEGEND {
  color: [CORE_ACOLOR];
  text-transform:capitalize;
}

FIELDSET {
   -moz-border-radius: 6;
}

.MenuInactive{
	background-color: [CORE_BGCOLORALTERN];
	color : [CORE_TEXTBGCOLOR];
	border-width : 2px;
	border-style : solid;
	border-color : [CORE_BGCOLORALTERN];
}
.MenuActive{
	background-color: [CORE_BGCOLORALTERN];
	color : [CORE_TEXTBGCOLOR];
	border-width : 2px;
	border-style : outset;
	border-color : [CORE_BGCOLORALTERN];
}

.iconimg {
  border-style: hidden;
  border-width: 1;
  border-color: [CORE_FGCOLOR];
  width:30;
  height:30;
  
}
.iconline {
  border-color: [CORE_FGCOLOR];
  margin:1px;
  padding:0px;
  border-width:3px;
  border-style: hidden;
  /*background-color: palegoldenrod;*/
  
}

TD.und {
 border-bottom:1px dashed;
 border-left:1px dashed;
}

TD.tlist {
   border-width : 1px;
   border-style : dashed none none none;
   border-color : [CORE_BGCOLOR];
}

DIV.unselect {
   border-style : inset;
  background-color:[CORE_BGCELLCOLOR];
  color:[CORE_TEXTFGCOLOR];
   border-color : [CORE_BGCOLOR];
   border-width : 1px;
  margin: 2px 0px 0px 0px;

}

DIV.unselecth {
   border-style : inset;
  background-color:[CORE_BGCOLORHIGH];
  color:[CORE_TEXTFGCOLOR];
   border-color : [CORE_BGCOLOR];
   border-width : 1px;
  margin: 2px 0px 0px 0px;

}

DIV.select {
  background-color:[CORE_BGCOLORALTERN];
  color:[CORE_TEXTFGCOLOR];
  border-style : outset;
   border-width : 1px;
  margin: 2px 0px 0px 0px;
} 

HR {
  color:[CORE_BGCOLOR];
}

A.title {
  font-weight:bold;
  color:[CORE_TEXTFGCOLOR];  
  cursor:pointer;
}


A.title:hover {
  background-color:[CORE_BGCELLCOLOR];
   
}
TABLE.rows TBODY TR TD {  
  border-width:1px 0px 0px 0px;	 
  border-color:[CORE_BGCOLORALTERN];
  border-style:solid;
}
.onglet {
   font-size: 50%;
  background-image:url('[IMG:tab.png]');
  color:[CORE_TEXTFGCOLOR];
  cursor: pointer;
  border-style: none;
  align: center;
}

.ongleth {
   font-size: 50%;
  background-image:url('[IMG:tabh.png]');
  color:[CORE_TEXTFGCOLOR];
  cursor: pointer;
  border-style: none;
}

.onglets {
   font-size: 50%;
  cursor: pointer;
  background-image:url('[IMG:tabh.png]');
  color:[CORE_TEXTBGCOLOR];
  border-style: none;
}
.ongletv {
   font-size: 90%;
  background-image:url('[IMG:tabv.png]');
  color:[CORE_TEXTFGCOLOR];
  cursor: pointer;
  border-style: none;
  align: center;
}
.ongletvs {
   font-size: 90%;
  cursor: pointer;
  background-image:url('[IMG:tabvs.png]');
  color:[CORE_TEXTBGCOLOR];
  border-style: none;
}
UL {
  margin-top:0px;
}

LI.translucide {
  list-style:url('USERCARD/Images/bblue10.gif');
}


IMG.unselect {
  border-style: hidden;
  border-width: 3;
  border-style : none
  width:40;
  height:40;  
  cursor: crosshair;
}
IMG.select {
  border-style: hidden;
  border-width: 1px;
  border-color: [CORE_FGCOLOR];
  width:40;
  height:40;  
  background-color:[CORE_BGCOLORALTERN];
  border-style : solid;
  cursor: crosshair;
  -moz-border-radius:25px;
}


DIV.icon{
  font-weight: normal;
  font-size: 8pt;
  text-align: center;
  /*font-variant: small-caps;*/
  width:70;
  height:100;
  position:absolute;
  left:0;
  top:0;
  border-style:none;
  border-color:[CORE_FGCOLOR];
  visibility : hidden;
  overflow : hidden;
}

.onlyprint {
    display:none;
}

P { 
    font-size:10pt;
    font-family:arial, helvetica;
  }
H1 { 
    font-size:12pt;
    font-family:arial, helvetica;
  }
  
H2 { 
    font-size:10pt;
    font-family:arial;
  }
H3 { 
    font-size:9pt;
    font-family:arial;
  }
TH {
     border-width: 1px 0px 0px 0px;
    font-size:9pt;
    font-family:arial;
  }
@media print {
  .noprint {
    display:none;
  }
  .tableborder {
    border:none;
  }
  A, TD, TH {
    color:black;
  }
  .onlyprint { 
    display:block;
    }
}
