
/* pop up style */



.popup {
  background-color: [CORE_FGCOLOR];  
  background-image: [CORE_FGIMGMENU];
  border-color: [CORE_FGCOLOR];
  border-style: outset;
  border-width: 2px; 
  margin: 0px;
  position: absolute;
  visibility: hidden;
  text-decoration: none;
  z-index:10;
}
@media print {
  .popup {
    display:none;
  }
}
a.menuItem, a.menuItem:link, a.menuItem:visited {
  color: [CORE_TEXTBGCOLOR];
  cursor: default;
  display: block;
  font-family: MS Sans Serif, Arial, Tahoma,sans-serif;
  font-size: 70%;
  font-weight: bold;
  padding: 2px 12px 2px 8px;
  text-decoration: none;
  text-transform:capitalize;
}

a.menuItemCtrl:link, a.menuItemCtrl:visited {
  color: [CORE_TEXTBGCOLOR];
  border-style:none  none none outset;
  border-width:3px;
  cursor: default;
  display: block;
  font-family: MS Sans Serif, Arial, Tahoma,sans-serif;
  font-size: 70%;
  font-weight: bold;
  padding: 2px 12px 2px 8px;
  text-decoration: none;
  text-transform:capitalize;
}

a.separator {
  color: [CORE_BGCOLORALTERN];
  background-color: [CORE_FGCOLOR];
  background-image: [CORE_FGIMGMENU];
  cursor: default;
  display: block;
  font-family: MS Sans Serif, Arial, Tahoma,sans-serif;
  font-size: 70%;
  font-weight: bold;
  text-align: center;
  padding: 0px;
  border-color : [CORE_TEXTBGCOLOR];
  border-style : solid none none none;
  border-width : 1px 0px 0px 0px;
  text-decoration: none;
}

a.separator:hover {
  text-decoration: none;
  color: [CORE_BGCOLORALTERN];
  background-color: [CORE_FGCOLOR];  
  background-image: [CORE_FGIMGMENU];	
}

a.menuItem:hover,a.menuItemCtrl:hover  {
  color: [CORE_TEXTFGCOLOR];
  background-color: [CORE_BGCOLORALTERN];
  text-decoration: none;	
}
a.menuItemDisabled:hover,a.menuItemCtrlDisabled:hover {
  color: [CORE_BGCOLORALTERN];
  background-color: [CORE_BGCOLORALTERN];
  text-decoration: none;	
}

a.menuItemDisabled, a.menuItemDisabled:link,a.menuItemDisabled:visited,a.menuItemCtrlDisabled,a.menuItemCtrlDisabled:link,a.menuItemCtrlDisabled:visited { 
  color: [CORE_BGCOLORALTERN];
  cursor: default;
  display: block;
  font-family: MS Sans Serif, Arial, Tahoma,sans-serif;
  font-size: 70%;
  font-weight: normal;
  font-style: italic;
  padding: 2px 12px 2px 8px;
  text-decoration: none;
}
a.menuItemCtrlDisabled:link {
  border-style:none none none outset;
  border-width:3px;
  border-color:[CORE_BGCOLORALTERN];
}

a.menuItemInvisible{ 
  display: none;
  cursor: default;

}
/* don't use: not supported by IE6  with hover
a.menuItem:first-letter, a.menuItemDisabled:first-letter {
  text-transform: uppercase;
}
*/
