
/* pop up style */


.popup {
  background-color: [CORE_FGCOLOR];  
  border-color: [CORE_FGCOLOR];
  border-style: outset;
  border-width: 2px; 
  margin: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
  z-index:10;
}

a.menuItem {
  color: [CORE_BGCOLORALTERN];
  cursor: default;
  display: block;
  font-family: MS Sans Serif, Arial, Tahoma,sans-serif;
  font-size: 8pt;
  font-weight: bold;
  padding: 2px 12px 2px 8px;
  text-decoration: none;
}

.separator {
  color: [CORE_BGCOLORALTERN];
  cursor: default;
  display: block;
  font-family: MS Sans Serif, Arial, Tahoma,sans-serif;
  font-size: 8pt;
  font-weight: bold;
  text-align: center;
  padding: 2px 12px 2px 8px;
  text-decoration: none;
}

a.menuItem:hover {
  background-color: [CORE_BGCOLORALTERN];
  color: black;
}

a.menuItemDisabled{ 
  color: [CORE_BGCOLORALTERN];
  cursor: default;
  display: block;
  font-family: MS Sans Serif, Arial, Tahoma,sans-serif;
  font-size: 8pt;
  font-weight: medium;
  font-style: italic;
  padding: 2px 12px 2px 8px;
  text-decoration: none;
}
a.menuItemInvisible{ 
  display: none;
  cursor: default;

}
