Source: freedom-thesaurus
Section: web
Priority: extra
Maintainer: yannick <yannick.lebriquer@anakeen.com>
Build-Depends: debhelper (>= 5), autoconf
Standards-Version: 3.7.2

Package: freedom-thesaurus
Architecture: all
Depends: freedom-lib (>= 2.9.5)
Description: Thesaurus application to manage and use thesaurus functionnalities in freedom
