.fabbody, BODY.freedom {
margin : 2px;
font-family: lucida, arial, sans;
background: [CORE_BGCOLOR]; 
color: [CORE_TEXTFGCOLOR];
font-size : 8pt;
}

TABLE TR TD {
padding : 0px;
margin : 0px;
font-family: lucida, arial, sans;
font-size : 8pt;
}

IMG.zoom {
	position:absolute;
	left:0;
	top:0;
	width:auto;
}
input {
background-color: [CORE_BGCOLORALTERN];
font-size : 8pt;
border-style: thin;
border-color: [CORE_BGCOLORHIGH];
border-width: 1px;
margin:2px;
}

DIV.fabzone, TR.fabzone TD {
  background-color: [CORE_BGCOLORALTERN];
  border-style: outset none outset none;
  border-color: [CORE_BGCOLORALTERN];
  border-width: 1px;
}

TR.fabheadlist TD {
  valign:absmiddle;
  background-color: [CORE_BGCOLORALTERN];
  border-style: inset none inset none;
  border-color: [CORE_BGCOLORALTERN];
  border-width: 1px;
  margin : 2px;
  font-weight : bold;
}

IMG.fabbutsel {
  border-style: inset;
  border-color: [CORE_BGCOLORHIGH];
  border-width: 1px;
  cursor:pointer;
}
IMG.fabbutunsel {
  border-style: outset;
  border-color: [CORE_BGCOLORHIGH];
  border-width: 1px;
  cursor:pointer;
}

.fabcontact, TR.fabcontact TD {
  cursor: crosshair;
  border-style: outset none inset none;
  border-color: [CORE_BGCOLORHIGH];
  border-width: 1px;
  empty-cells: show;
}
.fabcontactsel, TR.fabcontactsel TD {
  cursor: pointer;
  border-width: 1px;
  border-color: lightgrey;
  border-style: inset none outset none;
  background-color: [CORE_BGCOLORHIGH];
  empty-cells: show;
}

DIV.fabcontact {
  cursor: crosshair;
  border-style: outset;
  border-color: lightgrey;
  border-width: 1px;
  empty-cells: show;
}
DIV.fabcontact:hover {
  cursor: crosshair;
  border-style: inset;
  border-color: lightgrey;
  border-width: 1px;
  empty-cells: show;
}
DIV.fabcontactsel {
  cursor: pointer;
  border-width: 1px;
  border-color: lightgrey;
  border-style: inset;
  background-color: [CORE_BGCOLORHIGH];
  empty-cells: show;
}
A:hover {
background-color:[CORE_BGCOLORHIGH]
}

A {
}


/*    Resume card */

DIV.fabresume {
cursor:pointer;
-moz-border-radius: 8;
margin:0pt;
padding:3pt;
border-width : 2px;
border-style : outset;
border-color : [CORE_BGCOLORALTERN];
}
DIV.fabresume:hover {
border-style : inset;
background-color: white;
}

.fabresumetitle {
font-weight : bold;
font-variant: small-caps;
font-size : 110%;
} 

.fabresumesoc {
font-style: italic;
text-transform : lowercase;
}
.fabresumesoc:first-letter {
text-transform:capitalize;
}
  
/* Carte */

DIV.fabcard {
cursor:pointer;
-moz-border-radius: 8;
margin:0pt;
padding:5pt;
border-width : 2px;
border-style : outset;
border-color : [CORE_BGCOLORALTERN];
}

.fabctitlep {
padding:10px 0px 0px 10px;
} 

.fabctitle {
font-weight : bold;
font-variant: small-caps;
font-size : 200%;
} 
.fabcsoc {
font-weight : bold;
font-variant: small-caps;
font-size : 160%;
} 

.fabcrub {
font-size : 120%;
font-weight : bold;
}
.fabcrubbigger {
font-weight : bold;
font-size : 140%;
}
.fabccom {
}

.fabcciv {
font-style: italic;
text-transform : lowercase;
font-size : 120%;
}
.fabcciv:first-letter {
text-transform:capitalize;
}

.fabcaddress {
padding:10px 0px 0px 0px;
font-style: italic;
text-transform : lowercase;
font-size : 120%;
border-width : 1px;
border-style :  none none solid none;
}

.fabogcontent {
padding:2px;
border-width : 1px;
border-style : outset;
border-color : [CORE_BGCOLORALTERN];
}
.fabogdetail {
padding: 0px 10px 0px 10px;
border-width : 1px;
border-style : none  none none solid;
border-color : [CORE_BGCOLORALTERN];
}


.fabog {
border-width : 1px;
border-style :outset;
border-color : [CORE_BGCOLORALTERN];
background-color : [CORE_BGCOLORALTERN];
color : [CORE_BGCOLORHIGH];
cursor:pointer;
}
.fabogover {
border-width : 1px;
border-style : inset;
border-color : [CORE_BGCOLORALTERN];
background-color : [CORE_BGCOLORALTERN];
color : [CORE_BGCOLORHIGH];
cursor:pointer;
}
.fabogsel {
border-width : 1px;
border-style : inset;
border-color : [CORE_BGCOLORALTERN];
background-color : [CORE_BGCOLORALTERN];
cursor:pointer;
}
.fabogover:first-letter, .fabog:first-letter, .fabogsel:first-letter {
text-transform:capitalize;
}
