/* This is the default CSS for WGCal application */

body {
  padding : 0px;
  margin : 1px;
  font-size: 10px; 
  font-family: [CORE_FONTLIST1];
 background: url('CORE/Images/bg.gif');
  color: [CORE_TEXTFGCOLOR];
}

table {
	font-size: 10px;
	font-family: Helvetica, Arial, sans-serif ;
}

INPUT, SELECT, TEXTAREA {
	background: [CORE_BGCOLORALTERN]; 
	font-size: 10px;
	font-family: Helvetica, Arial, sans-serif ;
	border : thin inset white;
}
INPUT.Mandatory {
	font-weight: bold;
	border : 2px inset red;
}
TD {
	empty-cells: show;
	border-style : inherit;
}


.WGCalAction {
  cursor : pointer;
  border : 0px;
}
.WGCalButton {
  filter:alpha(opacity=60);
  -moz-opacity:.45;	
  cursor : pointer;
  border : 0px;
}
.WGCalButtonOver {
  filter:alpha(opacity=99);
  -moz-opacity:.99;	
  cursor : pointer;
  border : 2px;
}

.WGCalZoneSelected {
  filter:alpha(opacity=99);
  -moz-opacity:.99;	
  cursor : pointer;
}
.WGCalZoneDefault {
  filter:alpha(opacity=50);
  -moz-opacity:.5;	
  cursor : pointer;
}

/* Zone d'affichage des infos mois, semaine et jours */
.WGCAL_Period {
  background-color : [CORE_BGCOLORALTERN];
  border : 1px outset [CORE_BGCOLORHIGH];
  font-weight: bold;
}
/* Periode selectionne : mise en évidence jour / heure */
.WGCAL_PeriodSelected {
  background-color : [CORE_BGCOLORHIGH];
  border : 1px inset [CORE_BGCOLORALTERN];
  font-weight: bold;
}
      
/* Journée courante */
.WGCAL_DayLineCur {
  border : 1px outset [CORE_BGCOLORALTERN];
  font-weight: bold;
  background-color : [CORE_BGCOLORHIGH];
}

.WGCAL_DayNoHours {
  background-color : [CORE_BGCOLORALTERN];
}

.WGCAL_DayHours {
  background-color : [CORE_BGCOLORALTERN];
  font-weight: bold;
  border-top : 2px outset [CORE_BGCOLORHIGH];
  border-left : 1px outset [CORE_BGCOLORHIGH];
  border-right : 1px outset [CORE_BGCOLORHIGH];
}
.WGCAL_DayMin {
  font-size: 7px;
  background-color : [CORE_BGCOLORALTERN];
  border-top : 1px solid [CORE_BGCOLORHIGH];
  border-bottom : 1px outset [CORE_BGCOLORHIGH];
  border-left : 1px outset [CORE_BGCOLORHIGH];
  border-right : 1px outset [CORE_BGCOLORHIGH];
}

.WGCAL_DayLineOver {
  background-color : [CORE_BGCOLORALTERN];
  border : 1px outset [CORE_BGCOLORHIGH];
}

.WGCAL_Day {
	border-left: 0px;
	border-bottom: 1px solid [CORE_BGCOLORHIGH];
 	border-right: 1px solid [CORE_BGCOLORHIGH];
}
.WGCAL_DayWE {
	border-left: 0px;
	border-bottom: 1px solid [CORE_BGCOLORHIGH];
 	border-right: 1px solid [CORE_BGCOLORHIGH];
        background-color : [WGCAL_U_WEDAY];
}
.WGCAL_DayCur {
	border-left: 0px;
	border-bottom: 1px solid [CORE_BGCOLORHIGH];
 	border-right: 1px solid [CORE_BGCOLORHIGH];
        background-color : [WGCAL_U_CURDAY];
}
.WGCAL_DaySelected {
	border-left: 0px;
	border-bottom: 1px solid [CORE_BGCOLORHIGH];
 	border-right: 1px solid [CORE_BGCOLORHIGH];
        background-color : [WGCAL_U_SELDAY];
}


.WGCWaitingRv {
  border : 2px outset red;
}
.WGCwrvover {
  cursor:pointer; 
  border : 1px inset red;
}
.WGCwrvdefault {
  cursor:pointer; 
  border : 1px outset [CORE_BGCOLORALTERN];
}

.WGCListRess {
  border : 2px outset [CORE_BGCOLORALTERN];
  background-color : white;
}
.WGCRessOver {
  border : 1px outset [CORE_BGCOLORALTERN];
  cursor:pointer;
}
.WGCRessDefault {
  cursor:pointer;
}

.WGCRessSelected {
  background-color : [CORE_BGCOLORHIGH];
  border : 1px inset [CORE_BGCOLORALTERN];
  cursor:pointer;
}

.WGCFamSelected {
  background-color : [CORE_BGCOLORHIGH];
  border : 1px inset [CORE_BGCOLORALTERN];
  cursor:pointer;
}
