/* This is the default CSS for WGCal application */

body {
  padding : 0px;
  margin : 1px;
  font-size: 10px;
  background: url('CORE/Images/bg.gif');
  font-family: Helvetica, Arial, sans-serif ;
}

table, td {
  padding : 0px;
  margin : 0px;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif ;
}



INPUT, SELECT, TEXTAREA {
  background: [CORE_BGCOLORALTERN]; 
  font-weight: bold ;
  font-family: Helvetica, Arial, sans-serif ;
  border : 0px;
}


.WGCalButton {
  cursor : pointer;
  border : 1px inset [CORE_BGCOLORHIGH];
}


.WGCAL_Period {
  background-color : [CORE_BGCOLORALTERN];
  border : 1px outset [CORE_BGCOLORHIGH];
  font-weight: bold;
}
.WGCAL_PeriodSelected {
  background-color : [CORE_BGCOLORHIGH];
  border : 1px inset [CORE_BGCOLORALTERN];
  font-weight: bold;
}
      

.WGCAL_DayLineCur {
  font-weight: bold;
  background-color : [CORE_BGCOLORHIGH];
  border : 1px outset [CORE_BGCOLORHIGH];
}
.WGCAL_DayNoHours {
	background-color : [CORE_BGCOLORALTERN];
}
.WGCAL_DayHours {
  font-weight: bold;
  background-color : [CORE_BGCOLORALTERN];
  border-top : 2px outset [CORE_BGCOLORHIGH];
  border-left : 1px outset [CORE_BGCOLORHIGH];
  border-right : 1px outset [CORE_BGCOLORHIGH];
}
.WGCAL_DayMin {
  font-decoration: italic;
  font-size: 7px;
  background-color : [CORE_BGCOLORALTERN];
  border-top : 1px solid [CORE_BGCOLORHIGH];
  border-bottom : 1px outset [CORE_BGCOLORHIGH];
  border-left : 1px outset [CORE_BGCOLORHIGH];
  border-right : 1px outset [CORE_BGCOLORHIGH];
}
.WGCAL_DayLineWE {
  background-color : #FFFFEF;
  border : 1px solid [CORE_BGCOLORALTERN];
}
.WGCAL_DayLineOver {
  background-color : [CORE_BGCOLORALTERN];
  border : 1px outset [CORE_BGCOLORHIGH];
}
.WGCAL_Day1 {
	border-bottom : 1px inset [CORE_BGCOLORALTERN];
	border-right : 1px solid [CORE_BGCOLORALTERN];
}
.WGCAL_Day2 {
	border-bottom : 1px inset [CORE_BGCOLORALTERN];
	border-right : 1px solid [CORE_BGCOLORALTERN];
}
.WGCAL_DayCur {
  background-color : [CORE_BGCOLORHIGH];
  border : 1px outset white;
}
.WGCAL_DaySelected {
  border-bottom : 1px inset [CORE_BGCOLORALTERN];
  border-right : 1px solid [CORE_BGCOLORALTERN];
  background-color : [CORE_BGCOLORALTERN];
}

.WGCListRess {
  border : 2px outset [CORE_BGCOLORALTERN];
  background-color : white;
}
.WGCRessOver {
  border : 1px outset [CORE_BGCOLORALTERN];
  cursor:pointer;
}
.WGCRessDefault {
}

.WGCRessSelected {
  background-color : [CORE_BGCOLORHIGH];
  border : 1px inset [CORE_BGCOLORALTERN];
  cursor:pointer;
}

.WGCFamSelected {
  background-color : [CORE_BGCOLORHIGH];
  border : 1px inset [CORE_BGCOLORALTERN];
  cursor:pointer;
}
