/* This is the default CSS for WGCal application, with theme [THEME] and fonts [FONTSZ] */
body {
  padding : 0px;
  margin : 0px;
  font-size: [WTH_FONTSIZE_NORMAL]pt; 
  font-family: [WTH_FONTLIST];
  background: [WTH_BGIMG]; 
  color: [WTH_TEXTCOLOR_1];
}

.elist {
  margin : 0px;
  padding : 3px;
  font-size: [WTH_FONTSIZE_NORMAL]pt; 
  font-family: [WTH_FONTLIST];
  background: [WTH_BGIMG]; 
  color: [WTH_TEXTCOLOR_1];
  border:1px solid [WTH_TEXTCOLOR_1];
  z-index : 1000;
  position:absolute; 
  width : auto;
}


table {
  font-size: [WTH_FONTSIZE_NORMAL]pt;
  font-family: [WTH_FONTLIST];
  color: [WTH_TEXTCOLOR_1];
}

IMG {
 	border : 0px;
} 

INPUT {
	font-size: [WTH_FONTSIZE_NORMAL]pt;
	font-family: [WTH_FONTLIST];
	border : 0px;
}

INPUT.textBorder, TEXTAREA {
	background: [WTH_COLOR_1]; 
	font-size: [WTH_FONTSIZE_NORMAL]pt;
	font-family: [WTH_FONTLIST];
	border : 1px inset [WTH_COLOR_3];
}

 
SELECT {
	background: [WTH_COLOR_1]; 
	font-size: [WTH_FONTSIZE_NORMAL]pt;
	font-family: [WTH_FONTLIST];
	border : 0px;
}


INPUT.Mandatory {
	background: [WTH_COLOR_1]; 
	font-weight: bold;
	border : 2px inset [WTH_ALERT];
}
TR {
}
TD {
	empty-cells: show;
}


.WGCalAction {
  cursor : pointer;
  border : 0px;
}
.WGCalButton {
  filter:alpha(opacity=65);
  -moz-opacity:.55;	
  cursor : pointer;
  border : 0px;
}
.WGCalButtonOver {
  cursor : pointer;
  border : 2px;
}

.WGCalZoneSelected {
  filter:alpha(opacity=99);
  -moz-opacity:.99;	
  cursor : pointer;
}
.WGCalZoneDefault {
  filter:alpha(opacity=50);
  -moz-opacity:.5;	
  cursor : pointer;
}

/* Zone d'affichage des infos mois, semaine et jours */
.wMainMenu {
  cursor:default;
  background-color : [WTH_COLOR_TOOL];
  border : 1px outset [WTH_COLOR_1];
  font-size: [WTH_FONTSIZE_SMALL]pt;
}
.WGCAL_Period {
  background-color : [WTH_COLOR_2];
  border : 1px outset [WTH_COLOR_1];
  font-weight: bold;
  font-size: [WTH_FONTSIZE_NORMAL]pt;
}
/* Periode selectionne : mise en évidence jour / heure */
.WGCAL_PeriodSelected {
  font-size: [WTH_FONTSIZE_SMALL]pt;
  background-color : [WTH_COLOR_3];
  color : [WTH_TEXTCOLOR_1];
  border : 1px outset [WTH_COLOR_1];
  font-weight: bold;
}
      
/* Journée courante */
.WGCAL_DayLine {
  font-size: [WTH_FONTSIZE_SMALL]pt;
  cursor:pointer;
  background-color : [WTH_COLOR_2];
  border : 1px outset [WTH_COLOR_2];
  font-weight: bold;
}
.WGCAL_DayLineCur {
  font-size: [WTH_FONTSIZE_SMALL]pt;
  cursor:pointer;
  border : 1px outset [WTH_COLOR_1];
  font-weight: bold;
  background-color : red;
/*  background-color : [WTH_COLOR_2]; */
}

.WGCAL_DayNoHours {
  font-size: [WTH_FONTSIZE_SMALL]pt;
  border-top: 0px inset;
  border-left: 0px inset;
  border-bottom: 1px dotted [WTH_COLOR_3];
  border-right: 1px  dotted [WTH_COLOR_3];
  background-color : [WTH_COLOR_1];
}

.WGCAL_DayHours {
  font-size: [WTH_FONTSIZE_SMALL]pt;
  background-color : [WTH_COLOR_2];
  font-weight: bold;
  border-top : 0px outset [WTH_COLOR_2];
  border-bottom : 1px outset [WTH_COLOR_3];
  border-left : 1px outset [WTH_COLOR_3];
  border-right : 1px outset [WTH_COLOR_3];
}
.WGCAL_DayMin {
  font-size: [WTH_FONTSIZE_SMALL]pt;
  background-color : [WTH_COLOR_2];
  border-top : 0px outset [WTH_COLOR_2];
  border-bottom : 1px outset [WTH_COLOR_3];
  border-left : 1px outset [WTH_COLOR_3];
  border-right : 1px outset [WTH_COLOR_3];
}

.WGCAL_DayLineOver {
  background-color : [WTH_COLOR_1];
  border : 1px inset [WTH_COLOR_2];
}

.WGCAL_Day {
  border-bottom: 1px solid [WTH_COLOR_3];
  border-right: 1px solid [WTH_COLOR_3];
  background-color : #fafafa;
}
.WGCAL_DayCur {
        background-color : [WTH_CALTODAY];
}
.WGCAL_DayWE {
        background-color : [WTH_CALWEEKEND];
}

.WGCWaitingRv {
  border : 2px outset [WTH_ALERT];
}
.WGCwrvover {
  cursor:pointer; 
  border : 1px inset [WTH_ALERT];
}
.WGCwrvdefault {
  cursor:pointer; 
  border : 1px outset [WTH_COLOR_1];
}

.WGCListRess {
  border : 2px outset [WTH_COLOR_1];
  background-color : white;
}
.WGCRessOver {
  border : 1px outset [WTH_COLOR_3];
  cursor:pointer;
}
.WGCRessDefault {
  border : 1px;
  cursor:pointer;
}

.WGCRessSelected {
  background-color : [WTH_COLOR_2];
  border : 1px inset [WTH_COLOR_1];
  cursor:pointer;
}

.WGCFamSelected {
  background-color : [WTH_COLOR_2];
  border : 1px inset [WTH_COLOR_1];
  cursor:pointer;
}


.WEvTitle {
  cursor:pointer;
  border : 1px outset;
  background-color : [WTH_COLOR_3];
  color : white;
  font-weight : bold;
}
.WEvDays {
  cursor:pointer;
  border : 1px outset;
  background-color : [WTH_COLOR_2];
}
.WEvDefault {
  cursor:pointer;
  border : 0px;
  background-color : white;
  color : [WTH_TEXTCOLOR_1];
  border-bottom-color : [WTH_COLOR_2];
  border-bottom-width : 1px;
  border-bottom-style : solid;
}
.WEvOver {
  border : 0px;
  cursor:crosshair;
  background-color : [WTH_COLOR_2];
  color : [WTH_TEXTCOLOR_1];
  border-bottom-color : [WTH_COLOR_2];
  border-bottom-width : 1px;
  border-bottom-style : solid;
}
/*
 * Really use in final product !
 */

.wWhoAmI {
 cursor: pointer; 
 background-color: white; 
 padding: 3px; 
 font-weight: bold; 
 text-align: center; 
 border: 1px outset [WTH_COLOR_3];
 font-size: [WTH_FONTSIZE_SMALL]pt;
}

.wToolButton {
  background-color : [WTH_COLOR_TOOL];
  font-weight : bold;
  border : 1px outset [WTH_COLOR_2];
  cursor:pointer;
  height : 22px;
}
.wToolButtonUnselect {
  background-color : [WTH_COLOR_TOOL];
  border : 1px outset [WTH_COLOR_2];
  cursor:pointer;
  height : 22px;
}
.wToolButtonSelect {
  background-color : [WTH_COLOR_TOOL];
  font-weight : bold;
  border : 1px inset [WTH_COLOR_2];
  cursor:pointer;
  height : 22px;
}
.wToolButtonOver {
  background-color : [WTH_COLOR_3];
  color : [WTH_COLOR_1];
  font-weight : bold;
  border : 2px inset [WTH_COLOR_1];
  cursor:pointer;
  height : 22px;
}
.wToolArea {
  border : 1px inset [WTH_COLOR_1];
  padding : 2px;
}
.wZone {
  border : 2px solid [WTH_COLOR_3];
  padding : 2px;
}
.wAttList {
  border-style:solid none solid none ;
  border-width: 1px;
  font-weight : bold;
  padding : 2px;
}
.wMonthTextTitle {
  font-weight : bold;
  font-size : [WTH_FONTSIZE_BIG]pt;
  border-top : 1px solid [WTH_COLOR_3];
  border-bottom : 1px solid [WTH_COLOR_3];
  width: 100%;
  background-color : [WTH_TEXTCOLOR_1];
  color : [WTH_TEXTCOLOR_2];
}
.wMonthTextTitlePrevNext {
  font-weight : bold;
  border-top : 1px solid [WTH_COLOR_3];
  border-bottom : 1px solid [WTH_COLOR_3];
  background-color : [WTH_TEXTCOLOR_1];
  color : [WTH_TEXTCOLOR_2];
  cursor:pointer;
}
.wMonthTextDayTitle {
  font-weight : bold;
  border-bottom : 1px solid [WTH_COLOR_3];
  background-color : [WTH_COLOR_2];
  color : [WTH_TEXTCOLOR_1];
}
.wMonthTextTD {
  border : thin solid [WTH_TEXTCOLOR_1];
  width : 14%;
  background-color : white;
  color : [WTH_COLOR_3];
}
.wMonthTextTDUnused {
  border-right : thin solid [WTH_COLOR_1];
  border-bottom : thin solid [WTH_COLOR_1];
  width : 14%;
  background-color : [WTH_COLOR_1];
  color : [WTH_COLOR_3];
}
.wTextActive {
  background-color: [WTH_COLOR_2];
  cursor:pointer;
  border-style: none none solid none;
  border-width: 1px;
}
.wTextNormal {
  background-color: ;
  cursor:default;
  border-style:none none none none;
}
.wTextEvent {
  cursor:pointer;
  font-size: [WTH_FONTSIZE_SMALL]pt;
  color : [WTH_TEXTCOLOR_1];
}

.wSmallButton {
 cursor:pointer; 
 border: 1px outset;
}
.wSmallButtonPulled {
  filter:alpha(opacity=55);
  -moz-opacity:.50;
 cursor:pointer; 
 border: 1px outset;
}
.wSmallButtonPushed {
  filter:alpha(opacity=99);
  -moz-opacity:.99;
 cursor:pointer; 
 border: 1px inset;
}

.wEvResume {
  background-color: #d1d2db;
  cursor:crosshair; 
  margin:0px; 
  border-top-width:1px; 
  border-top-color:#d1d2db; 
  border-top-style:solid; 
  border-left-width:1px; 
  border-left-color:#d1d2db; 
  border-left-style:solid; 
}

.wgUserDelegate {
	border : 2px inset;
	font-weight: bold; 
	background-color: [WTH_COLOR_2];
	padding: 1px; 
}

/* event Css */
.wEvBack {
  background : [WTH_BGIMG]; 
  border : 4px solid white; 
  height:auto;
}

/* The main calendar widget.  DIV containing a table. */

.calendar {
  position: relative;
  display: none; 
  cursor: default;
  font-size: [WTH_FONTSIZE_SMALL]pt;
}

.calendar table {
  border-top: 1px solid #000;
  border-right: 1px solid [WTH_COLOR_1];
  border-bottom: 1px solid [WTH_COLOR_1];
  border-left: 1px solid [WTH_COLOR_1];
  background-color : white;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;
  padding: 1px;
  border : 1px outset [WTH_COLOR_1];
}

.calendar .nav {
  background: transparent url(menuarrow.gif) no-repeat 100% 100%;
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;
  padding: 1px;
  border: 1px solid #000;
  color: [WTH_TEXTCOLOR_1];
  background: [WTH_COLOR_2];
  text-align: center;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .daynames { /* Row <TR> containing the day names */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #000;
  padding: 2px;
  text-align: center;
  background: [WTH_COLOR_1];
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  background: [WTH_COLOR_1];
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  border: 2px inset [WTH_COLOR_1];
  padding: 0px;
  background-color: [WTH_COLOR_3];
}

.calendar thead .active { /* Active (pressed) buttons in header */
  padding: 2px 0px 0px 2px;
  border-top: 1px solid #000;
  border-right: 1px solid [WTH_COLOR_3];
  border-bottom: 1px solid [WTH_COLOR_3];
  border-left: 1px solid #000;
  background-color: [WTH_COLOR_2];
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 0em;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: [WTH_FONTSIZE_SMALL]pt;
  color: [WTH_TEXTCOLOR_1];
}
.calendar tbody .day.othermonth.oweekend {
  color: [WTH_TEXTCOLOR_2];
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: [WTH_COLOR_1];
}

.calendar tbody .rowhilite td {
  background: [WTH_COLOR_1];
}

.calendar tbody .rowhilite td.wn {
  background: [WTH_COLOR_1];
}

.calendar tbody td.hilite { /* Hove[WTH_ALERT] cells <TD> */
  padding: 1px 3px 1px 1px;
  border: 1px solid;
  border-color: #fff #000 #000 [WTH_COLOR_3];
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  padding: 2px 2px 0px 2px;
  border: 1px solid;
  border-color: #000 #fff #fff #000;
  background-color: [WTH_COLOR_3];
}

.calendar tbody td.selected { /* Cell showing selected date */
  padding: 2px 2px 0px 2px;
  border: 1px solid;
  border-color: #000 #fff #fff #000;
  background-color: [WTH_COLOR_3];
  color: [WTH_TEXTCOLOR_2];
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: [WTH_COLOR_3];
  background-color: [WTH_COLOR_1];
}

.calendar tbody td.today { /* Cell showing today date */
  font-weight: bold;
  color: [WTH_COLOR_3]
  border: 1px outset [WTH_COLOR_2];
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  padding: 0px;
  border-top: 1px solid [WTH_COLOR_2];
  border-bottom: 2px outset [WTH_COLOR_2];
  border-left: 2px outset [WTH_COLOR_2];
  border-right: 2px outset [WTH_COLOR_2];
  background: [WTH_COLOR_1];
  text-align: center;
  display:none;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  border-top: 1px solid [WTH_COLOR_3];
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid [WTH_COLOR_3];
  padding: 1px;
  background: [WTH_COLOR_3];
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  padding: 2px 0px 0px 2px;
  border-top: 1px solid #000;
  border-right: 1px solid [WTH_COLOR_3];
  border-bottom: 1px solid [WTH_COLOR_3];
  border-left: 1px solid #000;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  width: 4em;
  top: 0px;
  left: 0px;
  cursor: default;
  background: [WTH_COLOR_2];
  border-top: 1px solid [WTH_COLOR_3];
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid [WTH_COLOR_3];
  padding: 1px;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .active {
  background: [WTH_TEXTCOLOR_1];
  padding: 0px;
  border-top: 1px solid #000;
  border-right: 1px solid [WTH_COLOR_3];
  border-bottom: 1px solid [WTH_COLOR_3];
  border-left: 1px solid #000;
}

.calendar .combo .hilite {
  background: [WTH_COLOR_3];
  color: [WTH_TEXTCOLOR_1];
}

.calendar td.time {
  border-top: 1px solid #000;
  padding: 1px 0px;
  text-align: center;
  background-color: [WTH_COLOR_3];
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: [WTH_COLOR_3];
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: [WTH_TEXTCOLOR_1];
  color: [WTH_COLOR_3];
}

.calendar td.time span.active {
  border-color: [WTH_TEXTCOLOR_1];
  background-color: [WTH_TEXTCOLOR_1];
  color: [WTH_COLOR_3];
}

.MenuSelected {
  padding: 0px 10pt 0px 3px; 
  display:inline; 
  position:relative;
  border-right : 1px inset [WTH_TEXTCOLOR_1];
  font-weight : bold;
  cursor:pointer;
}
.MenuActive {
  padding: 0px 10pt 0px 3px; 
  display:inline; 
  position:relative;
  border-right : 1px inset [WTH_TEXTCOLOR_1];
  font-weight : bold;
  cursor:pointer;
}
.MenuInactive {
  padding: 0px 10pt 0px 3px; 
  display:inline; 
  position:relative;
  font-weight : bold;
  border-right : 1px inset [WTH_TEXTCOLOR_1];
  cursor:pointer;
}

.wgcalpopup {
  background-color: [WTH_COLOR_POPUP];  
  color: [WTH_TEXTCOLOR_1];
  border-color: [WTH_COLOR_3];
  border-style: outset;
  border-width: 1px; 
  margin: 0px;
  position: absolute;
  visibility: hidden;
  text-decoration: none;
  font-size: [WTH_FONTSIZE_POPUP]pt;
  z-index:10;
  font-family: [WTH_FONTLIST_POPUP];
  font-weight: none;
}
@media print {
  .wgcalpopup {
    display:none;
  }
}
.wgcalpopup a.menuItem, 
.wgcalpopup a:visited.menuItem, 
.wgcalpopup a.menuItemCtrl, 
.wgcalpopup a:visited.menuItemCtrl {
  color: [WTH_TEXTCOLOR_1];
  cursor: pointer;
  display: block;
  font-size: [WTH_FONTSIZE_POPUP]pt;
  padding: 2px 12px 2px 8px;
  text-decoration: none;
  font-family: [WTH_FONTLIST_POPUP];
  font-weight: none;
}

.wgcalpopup a.menuItemInvisible { 
  display: none;
  cursor: default;
}

.wgcalpopup a.menuItemDisabled, 
.wgcalpopup a.menuItemCtrlDisabled { 
  color: [WTH_COLOR_3];
  cursor: default;
  display: block;
  font-size: [WTH_FONTSIZE_POPUP]pt;
  font-style: italic;
  padding: 2px 12px 2px 8px;
  text-decoration: none;
  font-family: [WTH_FONTLIST];
}
.wgcalpopup a.menuItem:hover,
.wgcalpopup a.menuItemCtrl:hover,
.wgcalpopup a.menuItemDisabled:hover,
.wgcalpopup a.menuItemCtrlDisabled:hover {
  color: [WTH_TEXTCOLOR_2];
  background-color:[WTH_COLOR_3];
  text-decoration: none;
}

.wgcalpopup a.separator,
.wgcalpopup a.separator:hover {
  border-bottom : 1px dotted [WTH_COLOR_3];
  display: block;
}
