Source: freedom-dav
Section: web
Priority: extra
Maintainer: yannick <yannick.lebriquer@anakeen.com>
Build-Depends: debhelper (>= 5), autoconf
Standards-Version: 3.7.2

Package: freedom-dav
Architecture: all
Depends: freedom-lib (>= 2.9.3), freedom-vault, freedom-what, gettext
Description: The Work Space to exchange files via DAV
 The FREEDOM DAV module install a WebDAV server which can browse files 
 from FREEDOM.
