TABLE.rowright24  TR TD {  
  border-width:0px 1px 0px 0px;	 
  border-color:[CORE_BGCOLORALTERN];
  color:black;
  border-style:solid;
  background-color:transparent;
  text-align:right;
  font-size:7pt;
  width:4.166%;
}
DIV.monthOdd {
	background-color:yellow;
	color:black;
	overflow:hidden;
	text-align:center;
	text-align:center;
	position:absolute;
	left=0px;
	top=0px;
	border:solid black 1pt;
  	[IFNOT ISIE]background-image:url('[IMG:7hi.png]');[ENDIF ISIE]
  [IF ISIE]filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[IMG:7hi.png]',sizingMethod='scale');[ENDIF ISIE]
}
DIV.monthEven {
	background-color:orange;
	color:black;
	overflow:hidden;
	text-align:center;
/*	-moz-opacity:.8;*/
	filter:alpha(opacity=80);
	position:absolute;
	left=0px;
	top=0px;
	border:solid black 1pt;
  	[IFNOT ISIE]background-image:url('[IMG:7hi.png]');[ENDIF ISIE]
  [IF ISIE]filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[IMG:7hi.png]',sizingMethod='scale');[ENDIF ISIE]
}

DIV.weekOdd {
	background-color:lightyellow;
	color:black;
	overflow:hidden;
	text-align:center;
/*	-moz-opacity:.8;*/
	filter:alpha(opacity=80);
	position:absolute;
	left=0px;
	top=0px;
	border:solid black 1pt;
  	[IFNOT ISIE]background-image:url('[IMG:7hi.png]');[ENDIF ISIE]
  [IF ISIE]filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[IMG:7hi.png]',sizingMethod='scale');[ENDIF ISIE]
}
DIV.weekEven {
	background-color:wheat;
	color:black;
	overflow:hidden;
	text-align:center;
/*	-moz-opacity:.8;*/
	filter:alpha(opacity=80);
	position:absolute;
	left=0px;
	top=0px;
	border:solid black 1pt;
  	[IFNOT ISIE]background-image:url('[IMG:7hi.png]');[ENDIF ISIE]
  [IF ISIE]filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[IMG:7hi.png]',sizingMethod='scale');[ENDIF ISIE]
}
DIV.dayOdd {
	background-color:lightblue;
	color:black;
	overflow:hidden;
	text-align:center;
/*	-moz-opacity:.8;*/
	filter:alpha(opacity=80);
	position:absolute;
	left=0px;
	top=0px;
	border: green 1pt;
  	[IFNOT ISIE]background-image:url('[IMG:7hi.png]');[ENDIF ISIE]
  [IF ISIE]filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[IMG:7hi.png]',sizingMethod='scale');[ENDIF ISIE]
}
DIV.dayEven {
	background-color:cornflowerblue;
	color:black;
	overflow:hidden;
	text-align:center;
/*	-moz-opacity:.8;*/
	filter:alpha(opacity=80);
	position:absolute;
	left=0px;
	top=0px;
	border: red 1pt;
  	[IFNOT ISIE]background-image:url('[IMG:7hi.png]');[ENDIF ISIE]
  [IF ISIE]filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[IMG:7hi.png]',sizingMethod='scale');[ENDIF ISIE]
}
DIV.year {
	background-color:gold;
	color:black;
	overflow:hidden;
	text-align:center;
	position:absolute;
	left=0px;
	top=0px;
	border:solid black 1pt;
  	[IFNOT ISIE]background-image:url('[IMG:7hi.png]');[ENDIF ISIE]
  [IF ISIE]filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[IMG:7hi.png]',sizingMethod='scale');[ENDIF ISIE]
}

DIV.event {
	/*-moz-border-radius:9px;*/
	overflow:hidden;
	color:black;
	border:solid  1px;
	cursor:pointer;
	position:absolute;
  	[IFNOT ISIE]background-image:url('[IMG:bg.png]');[ENDIF ISIE]
  [IF ISIE]filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[IMG:bg.png]',sizingMethod='scale');[ENDIF ISIE]
/*	-moz-opacity:.9;*/
/*	filter:alpha(opacity=90);*/
}
.ressource {	
	overflow:hidden;
	position:absolute;
	color:black;
	left:0px;
	top:0px;
	font-size:7pt;
  	[IFNOT ISIE]background-image:url('[IMG:7hi.png]');[ENDIF ISIE]
  [IF ISIE]filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[IMG:7hi.png]',sizingMethod='scale');[ENDIF ISIE]
	/*-moz-border-radius:9px 9px 0px 0px;*/
}
DIV.xgrid {
	overflow:hidden;
	background:none;
	border-color:  transparent transparent #AAAAAA transparent ;
	border-style:none  none dotted none ;
	border-width: 0px 0px 1px 0px ;	
	position:absolute;
	left:0px;
	top:0px;
}
DIV.ygrid {
	overflow:hidden;
	background:none;
	border-color: transparent  #AAAAAA transparent transparent;
	border-style: none dotted none  none ;
	border-width:0px 1px 0px 0px ;	
	position:absolute;
	left:0px;
	top:0px;
}
DIV.xgrid:hover,DIV.ygrid:hover {
	background-color:yellow;
}
DIV.dayEven:hover ,DIV.dayOdd:hover,DIV.weekEven:hover,DIV.weekOdd:hover,DIV.monthEven:hover,DIV.monthOdd:hover,DIV.year:hover  {
	background-image:none;
}


DIV.fond {
/*	background-image:url('[IMG:millimetre.png]');*/
/*	background-image:url('../../Images/millimetre.png');*/
	background-color:snow;

}
DIV.description {
	position:absolute;
	border: ridge red 2px;
  	[IFNOT ISIE]background-image:url('[IMG:bg.png]');
	-moz-border-radius:9px;[ENDIF ISIE]
  [IF ISIE]filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[IMG:bg.png]',sizingMethod='scale');[ENDIF ISIE]
	
	left:0px;
	top:0px;
}

TABLE.tinputs TR {
	height:20px;
}
TABLE.tinputs TD {
	overflow:hidden;
}
#bpyear, #bnyear {
  background-color:gold;
  color:black;
}
#bnweek {
  background-color:wheat;
  color:black;
}
#bpweek {
  background-color:lightyellow;
  color:black;
}
#bnmonth {
  background-color:yellow;
  color:black;
}
#bpmonth {
  background-color:orange;
  color:black;
}
#bnday {
  background-color:lightblue;
  color:black;
}
#bpday {
  background-color:cornflowerblue;
  color:black;
}
BUTTON.bnav {
  [IFNOT ISIE]background-image:url('[IMG:7hi.png]');[ENDIF ISIE]
  [IF ISIE]filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[IMG:7hi.png]',sizingMethod='scale');[ENDIF ISIE]
  font-size:7pt;		
  cursor:pointer;
}
BUTTON.bnav:hover {
	background-image:none;
}
